/*reset*/
* {
  margin: 0px;
  padding: 0px;
  font-family: "Orbitron", sans-serif;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*start*/
.wrap {
  width: 100%;
  height: 100vh;
  background: url(../img/bg1.jpg) center / cover no-repeat;
}

/*titlewrap*/
.titleWrap {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 5%;
  box-sizing: border-box;
}

.iconWrap {
  color: #fff;
  display: flex;
  gap: 10px;
}
.titleWrap .title {
  width: 500px;
}

/*contentwrap*/
.contentWrap {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  position: absolute;
  width: 100%;
  bottom: 50px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.contentWrap li:nth-child(even) {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.contentWrap .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: 1px 1px 1px #333;
  padding: 10px 15%;
  box-sizing: border-box;
  cursor: pointer;
}
.contentWrap .title.on {
  border-bottom: 1px solid #ccc;
}
.contentWrap .title i:first-child {
  margin-right: -7px;
}
.contentWrap .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0px;
  transition: 1s;
  padding: 0px 5%;
  box-sizing: border-box;
  overflow: hidden;
}
.contentWrap .detail.on {
  height: 200px;
}
.contentWrap .category01 .detail {
  gap: 30px;
  color: #666;
}
.contentWrap .category01 .imgwrap {
  width: 350px;
  height: 180px;
}
.contentWrap .category01 .detail p {
  width: 250px;
}
.category02 .detail {
  justify-content: flex-start;
  color: #666;
  background: url(../img/ship.png) no-repeat right 0px / 40%;
  gap: 30px;
}
.category02 .detail .txtwrap {
  width: 50%;
}
.category02 .detail p {
  width: 100%;
  transform: translateY(20%);
  transition: 2s;
}
.category02 .detail p.scrollup {
  transform: translateY(-100px);
}
.category02 .detail .scroll {
  width: 10px;
  height: 90%;
  border: 1px solid #fff;
  overflow: hidden;
}
.category02 .detail .scroll div {
  width: 100%;
  height: 50px;
  background-color: #eee;
  cursor: pointer;
  transition: 2s;
}
.category02 .detail .scroll div.scrollup {
  transform: translateY(130px);
}
.category03 .imgwrap {
  width: 100%;
  margin: auto auto;
}
.category04 .detail {
  gap: 10px;
}
.category04 .imgwrap {
  width: 300px;
  height: 150px;
}
.category04 img {
  border-radius: 10px;
}
.category05 .detailwrap {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}
.category05 .detail p {
  font-size: 30px;
  color: #333;
  font-weight: 600;
}
.category05 .detail .forms {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.category05 .detail .forms div {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
}
.category05 .detail .forms div:nth-child(1) {
  height: 30px;
}
.category05 .detail .forms div:nth-child(2) {
  height: 100px;
}
